/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* @import "compass/reset"; */
/* line 10, ../sass/screen.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 15, ../sass/screen.scss */
body {
  background-image: url("../img/pattern.png");
  background-size: 300px;
  font-family: 'Open Sans', sans-serif;
}

/* line 21, ../sass/screen.scss */
.container {
  clear: both;
}

/* line 25, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #eeeeee;
}

/* line 30, ../sass/screen.scss */
button {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

/* line 35, ../sass/screen.scss */
p, li {
  font-size: 14px;
  color: #eeeeee;
}

/* line 40, ../sass/screen.scss */
h2 {
  font-size: 21px;
  margin: 10px 0 0 10px;
}

/* line 45, ../sass/screen.scss */
h3 {
  font-size: 14px;
}

/* line 49, ../sass/screen.scss */
.logo {
  display: block;
  background-repeat: no-repeat;
  width: 185px;
  margin: 26px 0 0 50px;
  float: left;
}

/* line 58, ../sass/screen.scss */
header {
  background-color: black;
  height: 75px;
  width: 100%;
  clear: both;
}
/* line 64, ../sass/screen.scss */
header .row {
  margin: 0 auto;
}

/* line 69, ../sass/screen.scss */
nav, .subNav {
  list-style: none;
}

/* line 73, ../sass/screen.scss */
nav {
  margin: 0 0 0 50px;
  clear: right;
}

/* line 78, ../sass/screen.scss */
.subNav {
  height: 70px;
  margin: 0 auto;
  width: 990px;
  clear: both;
}

/* line 85, ../sass/screen.scss */
a {
  text-decoration: none;
  font-size: 14px;
  color: #eeeeee;
}

/* line 91, ../sass/screen.scss */
a, button, input.submit {
  cursor: pointer;
}

/* line 95, ../sass/screen.scss */
nav a, .subNav a {
  float: left;
}

/* line 99, ../sass/screen.scss */
nav a {
  margin: 27px 0 0 50px;
}

/* line 103, ../sass/screen.scss */
.subNav a {
  margin: 27px 20px 0 30px;
}

/* line 107, ../sass/screen.scss */
a:hover {
  color: #1193ff;
}

/* line 111, ../sass/screen.scss */
.button {
  background-color: white;
  color: black;
  border: solid 1px #555555;
  width: 100px;
  height: 40px;
}

/* line 119, ../sass/screen.scss */
.buttons, .loggedIn {
  margin: 17px 50px 0 0;
  float: right;
}

/* line 124, ../sass/screen.scss */
.button:hover {
  color: #1193ff;
}

/* line 128, ../sass/screen.scss */
.button:active, .button:active {
  color: white;
  background-color: #1193ff;
  border: solid 1px #1193ff;
}

/* line 134, ../sass/screen.scss */
.registerBtn {
  border: solid 1px #1193ff;
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px 0 0;
  width: 100px;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
  margin: 0 -4px 0 0;
  display: inline-block;
}

/* line 148, ../sass/screen.scss */
.loginBtn, .postBtn {
  border: solid 1px #555555;
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px 0 0;
  width: 100px;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
}

/* line 161, ../sass/screen.scss */
.userBtns {
  border: solid 1px white;
  color: black;
  background-color: white;
  text-align: center;
  padding: 10px 0 0;
  width: 100px;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
}

/* line 174, ../sass/screen.scss */
.userBtns:active {
  border: solid 1px #1193ff;
  background-color: #1193ff;
  color: white;
}

/* line 180, ../sass/screen.scss */
.feed {
  position: inherit;
  padding: 0 0 0 30px;
  width: 960px;
  margin: 0 auto;
  clear: both;
}

/* line 188, ../sass/screen.scss */
.post {
  width: 300px;
  height: 392px;
  background-color: #111111;
  float: left;
  margin: 0 15px 15px 0;
  /*cursor: pointer;*/
}

/* line 197, ../sass/screen.scss */
.post:last-child {
  margin: 0 15px 100px 0;
}

/* line 201, ../sass/screen.scss */
.content {
  height: 223px;
  border: solid 1px #111111;
  margin: 0 0 0;
  padding: 0 0 0;
}
/* line 207, ../sass/screen.scss */
.content p {
  margin: 15px 0 0 10px;
  width: 280px;
  height: 95px;
}
/* line 213, ../sass/screen.scss */
.content .timestamp {
  color: #aaaaaa;
  font-size: 10px;
  margin: 0 0 0 10px;
  height: 10px;
}

/* line 221, ../sass/screen.scss */
.postImgMask {
  overflow: hidden;
  width: 300px;
  height: 225px;
  height: 168px;
}
/* line 227, ../sass/screen.scss */
.postImgMask .articleImg {
  width: 300px;
}

/* line 232, ../sass/screen.scss */
.postImg {
  height: 225px;
}

/* line 236, ../sass/screen.scss */
.postUserInfo {
  position: relative;
  bottom: -5px;
  clear: both;
}

/* line 242, ../sass/screen.scss */
.postAvatarMask {
  overflow: hidden;
  width: 30px;
  height: 30px;
  margin: 19px 0 0 9px;
  float: left;
  border: solid 1px #111111;
}

/* line 251, ../sass/screen.scss */
.postAvatar {
  height: 30px;
}

/* line 255, ../sass/screen.scss */
.postCar, .postUser {
  float: left;
}

/* line 259, ../sass/screen.scss */
.postCar {
  margin: 5px 0 0 10px;
}

/* line 263, ../sass/screen.scss */
.postUser {
  margin: 25px 0 0 10px;
}

/* line 267, ../sass/screen.scss */
.post:hover .content {
  border-top: solid 1px #1193ff;
  border-bottom: solid 1px #1193ff;
}

/* line 272, ../sass/screen.scss */
.likeNum {
  display: block;
  position: absolute;
  margin: -31px 0 0 -1px;
  width: 300px;
  height: 30px;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.7);
  clear: both;
}
/* line 282, ../sass/screen.scss */
.likeNum p {
  width: 50px;
  height: 25px;
  padding: 3px 0 0 0;
  margin: 0;
  font-size: 18px;
  float: right;
}
/* line 291, ../sass/screen.scss */
.likeNum img {
  float: right;
  width: 20px;
  margin: 5px;
}

/* line 298, ../sass/screen.scss */
p {
  color: #eeeeee;
}

/* line 302, ../sass/screen.scss */
a:hover {
  color: #1193ff;
}

/* line 306, ../sass/screen.scss */
footer {
  position: fixed;
  background-color: #000000;
  height: 50px;
  width: 100%;
  bottom: 0;
  clear: both;
}
/* line 314, ../sass/screen.scss */
footer .copyright {
  float: left;
  margin: 0 0 0 30px;
}
/* line 319, ../sass/screen.scss */
footer .footerLinks {
  position: relative;
  top: 0px;
}
/* line 323, ../sass/screen.scss */
footer .footerLinks p {
  width: 100%;
  text-align: center;
}

/* line 330, ../sass/screen.scss */
.carSelector {
  height: 50px;
  margin: 0 auto 20px;
  padding: 0 0 20px 5px;
  background-color: black;
}
/* line 336, ../sass/screen.scss */
.carSelector .carInputs {
  margin: 0 auto;
  width: 990px;
}
/* line 341, ../sass/screen.scss */
.carSelector input {
  border: solid 1px #1193ff;
  background-color: white;
  color: black;
  font-size: 14px;
  margin: 25px 0 0 25px;
}

/* line 350, ../sass/screen.scss */
.active {
  color: #1193ff;
}

/* line 354, ../sass/screen.scss */
.postCar:hover {
  color: #1193ff;
}

/* line 358, ../sass/screen.scss */
.postAvatarMask:hover {
  border: solid 1px #1193ff;
}

/*_Login Page____________________________________________________*/
/* line 364, ../sass/screen.scss */
.loginBox {
  width: 300px;
  text-align: center;
  height: 170px;
  background-color: #111111;
  margin: 70px auto 376px;
}

/* line 372, ../sass/screen.scss */
label {
  color: #eeeeee;
}

/* line 376, ../sass/screen.scss */
input {
  margin: 25px 0 0 0;
  border: solid 2px #1193ff;
  font-size: 14px;
}

/* line 382, ../sass/screen.scss */
input.submit {
  background-color: black;
  border: solid 1px #1193ff;
  color: white;
  width: 200px;
  height: 30px;
  cursor: pointer;
}

/* line 391, ../sass/screen.scss */
input.submit:hover {
  color: #1193ff;
}

/* line 395, ../sass/screen.scss */
input.submit:active {
  background-color: #1193ff;
  color: white;
}

/*_Register Page____________________________________________________*/
/* line 402, ../sass/screen.scss */
.registerBox {
  width: 600px;
  text-align: left;
  height: 300px;
  background-color: #111111;
  margin: 70px auto 205px;
  padding: 20px;
  clear: both;
}
/* line 411, ../sass/screen.scss */
.registerBox form {
  width: 290px;
  float: left;
}
/* line 416, ../sass/screen.scss */
.registerBox p {
  margin: 0;
}
/* line 420, ../sass/screen.scss */
.registerBox input {
  margin: 2px 0 15px;
  width: 260px;
}
/* line 425, ../sass/screen.scss */
.registerBox input.submit {
  margin: 20px 25px 0 0;
  width: 100px;
  float: right;
}
/* line 431, ../sass/screen.scss */
.registerBox .vLine {
  width: 1px;
  height: 290px;
  background-color: #1193ff;
  float: left;
}
/* line 438, ../sass/screen.scss */
.registerBox .features {
  width: 250px;
  float: left;
}
/* line 442, ../sass/screen.scss */
.registerBox .features li {
  margin: 10px 0 0;
}

/* line 448, ../sass/screen.scss */
.profileCreateBox {
  height: 500px;
}
/* line 452, ../sass/screen.scss */
.profileCreateBox input.file {
  border: none;
  color: #eeeeee;
}
/* line 457, ../sass/screen.scss */
.profileCreateBox textarea {
  border: solid 2px #1193ff;
  background-color: white;
  margin: 2px 0 15px;
  resize: none;
  font-size: 14px;
}
/* line 465, ../sass/screen.scss */
.profileCreateBox .vLine {
  height: 390px;
}
/* line 469, ../sass/screen.scss */
.profileCreateBox .skip {
  margin: 20px 0 0;
  border: solid 1px #555555;
  background-color: black;
  color: #eeeeee;
  width: 100px;
  height: 25px;
  float: left;
  cursor: pointer;
  text-align: center;
  padding: 3px 0 0;
}
/* line 482, ../sass/screen.scss */
.profileCreateBox .skip:hover {
  color: #1193ff;
}
/* line 486, ../sass/screen.scss */
.profileCreateBox .skip:active {
  border: solid 1px #1193ff;
  color: white;
  background-color: #1193ff;
}

/*_Add Post Page____________________________________________________*/
/* line 495, ../sass/screen.scss */
.postBox {
  width: 90%;
  text-align: left;
  height: 680px;
  background-color: #111111;
  margin: 30px auto 80px;
  padding: 20px;
  clear: both;
}
/* line 504, ../sass/screen.scss */
.postBox form {
  width: 585px;
  float: left;
}
/* line 509, ../sass/screen.scss */
.postBox p {
  margin: 0;
}
/* line 513, ../sass/screen.scss */
.postBox textarea {
  border: solid 2px #1193ff;
  background-color: white;
  margin: 2px 0 15px;
  resize: none;
  font-size: 14px;
}
/* line 521, ../sass/screen.scss */
.postBox input {
  margin: 2px 0 15px;
  width: 260px;
}
/* line 526, ../sass/screen.scss */
.postBox input.submit {
  margin: 20px 0 0 480px;
  width: 100px;
}
/* line 531, ../sass/screen.scss */
.postBox input.file {
  border: none;
  color: #eeeeee;
}
/* line 536, ../sass/screen.scss */
.postBox .addedCarForm {
  padding: 5px 0 0;
}
/* line 540, ../sass/screen.scss */
.postBox .addedCarForm .selectCar {
  margin: 2px 0 15px;
  width: 265px;
  height: 26px;
  border: solid 2px #1193ff;
  background-color: white;
}
/* line 548, ../sass/screen.scss */
.postBox .addedCarForm .addCarBtn {
  margin: 0 0 0 10px;
  width: 150px;
  height: 25px;
  color: #eeeeee;
  border: solid 1px #eeeeee;
  background-color: #1193ff;
}
/* line 557, ../sass/screen.scss */
.postBox .addedCarForm .addCarBtn:hover {
  color: #1193ff;
  border: solid 1px #1193ff;
  background-color: #eeeeee;
}
/* line 565, ../sass/screen.scss */
.postBox .addCarForm {
  display: none;
  border-top: solid 1px #1193ff;
  border-bottom: solid 1px #1193ff;
  padding: 5px 0 0;
  margin: 0 0 10px;
}
/* line 572, ../sass/screen.scss */
.postBox .addCarForm .hideCarFormBtn {
  margin: 0 0 0 10px;
  width: 150px;
  height: 25px;
  color: #eeeeee;
  border: solid 1px #eeeeee;
  background-color: #1193ff;
}
/* line 581, ../sass/screen.scss */
.postBox .addCarForm .hideCarFormBtn:hover {
  color: #1193ff;
  border: solid 1px #1193ff;
  background-color: #eeeeee;
}

/*_Profile Page____________________________________________________*/
/* line 591, ../sass/screen.scss */
.poster {
  width: 960px;
  height: 268px;
  overflow: hidden;
  margin: 0 auto;
}
/* line 597, ../sass/screen.scss */
.poster img {
  width: 960px;
  margin: 0;
}

/* line 603, ../sass/screen.scss */
.userId, .carId {
  width: 960px;
  margin: 0 auto 15px;
  background-color: #111111;
  clear: both;
}
/* line 610, ../sass/screen.scss */
.userId .bio, .carId .bio {
  float: left;
  clear: right;
  height: 64px;
}
/* line 615, ../sass/screen.scss */
.userId .bio p, .carId .bio p {
  margin: 0;
  padding: 10px 0 0 10px;
  width: 700px;
  float: left;
}
/* line 622, ../sass/screen.scss */
.userId .bio img, .carId .bio img {
  float: right;
  margin: 20px 25px 10px 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
/* line 631, ../sass/screen.scss */
.userId .top, .carId .top {
  height: 125px;
  clear: both;
}
/* line 635, ../sass/screen.scss */
.userId .top .idAvatarMask, .carId .top .idAvatarMask {
  width: 125px;
  height: 125px;
  overflow: hidden;
  float: left;
}
/* line 641, ../sass/screen.scss */
.userId .top .idAvatarMask .idAvatar, .carId .top .idAvatarMask .idAvatar {
  height: 125px;
}
/* line 646, ../sass/screen.scss */
.userId .top .mainInfo, .carId .top .mainInfo {
  height: 50px;
  margin: -5px 0 15px;
  clear: right;
}
/* line 651, ../sass/screen.scss */
.userId .top .mainInfo .left, .carId .top .mainInfo .left {
  width: 350px;
  padding: 0 0 0 15px;
}
/* line 655, ../sass/screen.scss */
.userId .top .mainInfo .left .names img, .carId .top .mainInfo .left .names img {
  width: 20px;
  height: 20px;
  margin: 22px 0 0 25px;
}
/* line 661, ../sass/screen.scss */
.userId .top .mainInfo .left .userSite, .carId .top .mainInfo .left .userSite {
  float: left;
  clear: both;
  font-size: 12px;
  color: #555555;
  margin: 0 0 0 10px;
}
/* line 669, ../sass/screen.scss */
.userId .top .mainInfo .left .userSite:hover, .carId .top .mainInfo .left .userSite:hover {
  color: #1193ff;
}
/* line 674, ../sass/screen.scss */
.userId .top .mainInfo .right, .carId .top .mainInfo .right {
  float: right;
  width: 350px;
}
/* line 679, ../sass/screen.scss */
.userId .top .mainInfo h2, .carId .top .mainInfo h2 {
  margin: 18px 0 0 10px;
}
/* line 683, ../sass/screen.scss */
.userId .top .mainInfo .followBtn, .carId .top .mainInfo .followBtn {
  margin: 15px 0 0 20px;
  width: 100px;
  height: 40px;
  background-color: black;
  color: white;
  border: solid 1px #555555;
}
/* line 692, ../sass/screen.scss */
.userId .top .mainInfo .following, .carId .top .mainInfo .following {
  background-color: #1193ff;
  color: white;
  border: solid 1px #1193ff;
}
/* line 698, ../sass/screen.scss */
.userId .top .mainInfo .followBtn:hover, .carId .top .mainInfo .followBtn:hover {
  color: #1193ff;
}
/* line 702, ../sass/screen.scss */
.userId .top .mainInfo .following:hover, .carId .top .mainInfo .following:hover {
  color: white;
  border: solid 1px white;
}
/* line 708, ../sass/screen.scss */
.userId .top .hLine, .carId .top .hLine {
  height: 1px;
  background-color: #1193ff;
  float: left;
}

/* line 716, ../sass/screen.scss */
.userIdList:first-child, .carIdList:first-child {
  margin: 15px auto;
}

/* line 720, ../sass/screen.scss */
.mainInfo, .hLine, .bio, .extra {
  width: 835px;
}

/* line 724, ../sass/screen.scss */
.hLineCarList {
  width: 960px;
}

/* line 728, ../sass/screen.scss */
.mainInfo, .mainInfo .left, .mainInfo h2, .mainInfo img {
  float: left;
}

/* line 732, ../sass/screen.scss */
.mainInfo img {
  width: 25px;
  margin: 18px 0 10px 35px;
}

/* line 737, ../sass/screen.scss */
.postBtn {
  float: left;
}

/* line 741, ../sass/screen.scss */
.profileAvatar {
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: inline-block;
  margin: -3px 0 0 15px;
}
/* line 748, ../sass/screen.scss */
.profileAvatar img {
  height: 50px;
}

/* line 753, ../sass/screen.scss */
.loggedIn {
  width: 275px;
  margin: 15px 0 0 68px;
  clear: right;
}

/* line 759, ../sass/screen.scss */
.dropdown {
  width: 100px;
  float: right;
  position: absolute;
  right: 0;
  top: 75px;
  display: none;
}

/* line 768, ../sass/screen.scss */
.dropdownBtn img {
  width: 20px;
  height: 20px;
  float: left;
  margin: 15px 0 0 40px;
}

/* line 775, ../sass/screen.scss */
.dropdownBtn {
  height: 60px;
  width: 100px;
  float: right;
  clear: right;
}

/* line 782, ../sass/screen.scss */
.dropdownBtn:hover .dropdown {
  display: block;
}

/* line 786, ../sass/screen.scss */
.names {
  clear: both;
}
/* line 789, ../sass/screen.scss */
.names .carDropdown {
  width: 350px;
  background-color: #eeeeee;
  position: relative;
  margin: 2px 0 0;
  float: left;
  clear: both;
  border-top: solid 1px #1193ff;
  border-bottom: solid 1px #1193ff;
  opacity: 0;
  display: none;
}
/* line 801, ../sass/screen.scss */
.names .carDropdown a {
  float: left;
  clear: both;
  padding: 10px 50px 10px 50px;
  margin: 0;
  color: black;
  display: inline-block;
  width: 250px;
}
/* line 811, ../sass/screen.scss */
.names .carDropdown a:hover {
  color: #1193ff;
}
/* line 815, ../sass/screen.scss */
.names .carDropdown a:active {
  color: white;
  background-color: #1193ff;
}

/*_Post Detail Page____________________________________________________*/
/* line 824, ../sass/screen.scss */
.postDetail {
  width: 80%;
  background-color: #111111;
  margin: 15px 10% 80px;
  display: inline-block;
}
/* line 830, ../sass/screen.scss */
.postDetail .postDImgMask {
  overflow: hidden;
  width: 100%;
}
/* line 834, ../sass/screen.scss */
.postDetail .postDImgMask .postDImg {
  width: 100%;
  margin: 0;
}
/* line 840, ../sass/screen.scss */
.postDetail .postButtons {
  width: 100%;
  background-color: black;
  height: 40px;
  margin: 50px 0 0;
  clear: both;
}
/* line 847, ../sass/screen.scss */
.postDetail .postButtons button, .postDetail .postButtons .button {
  float: right;
  width: 100px;
  height: 40px;
  background-color: black;
  color: white;
  border: solid 1px #1193ff;
  cursor: pointer;
  font-size: 14px;
}
/* line 858, ../sass/screen.scss */
.postDetail .postButtons .button {
  text-align: center;
  padding: 9px 0 0;
  height: 29px;
}
/* line 864, ../sass/screen.scss */
.postDetail .postButtons .liked {
  color: #eeeeee;
  background-color: #1193ff;
  cursor: pointer;
}
/* line 870, ../sass/screen.scss */
.postDetail .postButtons .liked:hover {
  color: #eeeeee;
}
/* line 874, ../sass/screen.scss */
.postDetail .postButtons button:hover, .postDetail .postButtons .button:hover {
  color: #1193ff;
}
/* line 878, ../sass/screen.scss */
.postDetail .postButtons button:active, .postDetail .postButtons .button:active {
  background-color: #1193ff;
  color: white;
}
/* line 883, ../sass/screen.scss */
.postDetail .postButtons .deleteBtn:hover {
  color: #ff1111;
}
/* line 887, ../sass/screen.scss */
.postDetail .postButtons .deleteBtn:active {
  color: #eeeeee;
  background-color: #ff1111;
}
/* line 893, ../sass/screen.scss */
.postDetail .contentDetail {
  border: solid 1px #111111;
  margin: 0 0 0;
  padding: 0 0 0;
}
/* line 898, ../sass/screen.scss */
.postDetail .contentDetail p:not(.postCar) {
  margin: 0 0 20px 10px;
  width: 600px;
}
/* line 903, ../sass/screen.scss */
.postDetail .contentDetail .dLikeNum {
  display: block;
  position: absolute;
  margin: -36px 0 0 -1px;
  width: 80%;
  height: 30px;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.7);
  clear: both;
}
/* line 913, ../sass/screen.scss */
.postDetail .contentDetail .dLikeNum p:not(.postCar) {
  width: 100px;
  padding: 3px 0;
  margin: 0;
  font-size: 18px;
  float: right;
}
/* line 921, ../sass/screen.scss */
.postDetail .contentDetail .dLikeNum img {
  float: right;
  width: 20px;
  margin: 5px;
}
/* line 928, ../sass/screen.scss */
.postDetail .contentDetail .timestamp {
  color: #aaaaaa;
  font-size: 12px;
  height: 10px;
}
/* line 934, ../sass/screen.scss */
.postDetail .contentDetail .postDUserInfo {
  position: relative;
  bottom: 10px;
}
/* line 938, ../sass/screen.scss */
.postDetail .contentDetail .postDUserInfo .postUser {
  margin: 25px 0 0 10px;
}
/* line 944, ../sass/screen.scss */
.postDetail .file {
  border: none;
  position: absolute;
  margin: 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  top: 250px;
  left: 14%;
}

/*_Post Edit Page____________________________________________________*/
/* line 959, ../sass/screen.scss */
.postEdit input, .postEdit textarea {
  background-color: #111111;
  border: solid 1px #1193ff;
  color: #eeeeee;
  margin: 15px 10px 0;
}
/* line 966, ../sass/screen.scss */
.postEdit input {
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}
/* line 972, ../sass/screen.scss */
.postEdit textarea {
  font-size: 14px;
  resize: none;
}

/* line 978, ../sass/screen.scss */
.postDetail form, .carDetail form {
  clear: both;
}
/* line 981, ../sass/screen.scss */
.postDetail form .postEditButtons input.submit, .carDetail form .postEditButtons input.submit {
  width: 100px;
  height: 40px;
  float: right;
  margin: 0;
}

/*_Car Detail Page____________________________________________________*/
/* line 991, ../sass/screen.scss */
.mainInfo select {
  margin-top: 22px;
  border: solid 1px #1193ff;
  font-size: 18px;
  background-color: black;
  color: #eeeeee;
}

/*_Car Edit Page____________________________________________________*/
/* line 1001, ../sass/screen.scss */
.carDetail {
  padding: 0;
}

/* line 1005, ../sass/screen.scss */
.carDetail form {
  width: 100%;
  padding: 0;
}
/* line 1009, ../sass/screen.scss */
.carDetail form input, .carDetail form textarea {
  margin: 0 0 0 20px;
}
/* line 1013, ../sass/screen.scss */
.carDetail form p {
  margin: 20px 0 0 20px;
}

/* line 1018, ../sass/screen.scss */
.postButtons {
  width: 100%;
  background-color: black;
  height: 40px;
  margin: 30px 0 0;
  clear: both;
}
/* line 1025, ../sass/screen.scss */
.postButtons button, .postButtons .button {
  float: right;
  width: 100px;
  height: 40px;
  background-color: black;
  color: white;
  border: solid 1px #1193ff;
  cursor: pointer;
  font-size: 14px;
}
/* line 1036, ../sass/screen.scss */
.postButtons .button {
  text-align: center;
  padding: 9px 0 0;
  height: 29px;
}
/* line 1042, ../sass/screen.scss */
.postButtons .liked {
  color: #eeeeee;
  background-color: #1193ff;
  cursor: pointer;
}
/* line 1048, ../sass/screen.scss */
.postButtons .liked:hover {
  color: #eeeeee;
}
/* line 1052, ../sass/screen.scss */
.postButtons button:hover, .postButtons .button:hover {
  color: #1193ff;
}
/* line 1056, ../sass/screen.scss */
.postButtons button:active, .postButtons .button:active {
  background-color: #1193ff;
  color: white;
}
/* line 1061, ../sass/screen.scss */
.postButtons .deleteBtn:hover {
  color: #ff1111;
}
/* line 1065, ../sass/screen.scss */
.postButtons .deleteBtn:active {
  color: #eeeeee;
  background-color: #ff1111;
}

/*_List Pages____________________________________________________*/
/* line 1073, ../sass/screen.scss */
.list {
  margin: 15px auto 0;
}

/* line 1077, ../sass/screen.scss */
span {
  display: none;
  visibility: hidden;
}

/*_Flashes_______________________________________________________*/
/* line 1084, ../sass/screen.scss */
.flash-error, .flash-success, .flash-info {
  text-align: center;
  color: #eeeeee;
  height: 25px;
}

/* line 1090, ../sass/screen.scss */
.flash-error {
  background-color: #551111;
}

/* line 1094, ../sass/screen.scss */
.flash-success {
  background-color: #115511;
}

/* line 1098, ../sass/screen.scss */
.flash-info {
  background-color: #1193ff;
}

/* line 1103, ../sass/screen.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*--------------------------------------------------------------------------------*/
/* Media Queries */
/*--------------------------------------------------------------------------------*/
/* Large desktop */
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 990px) {
  /* line 1120, ../sass/screen.scss */
  .feed {
    width: 640px;
  }
}
/* Landscape phone to portrait tablet */
@media (min-width: 671px) and (max-width: 767px) {
  /* line 1129, ../sass/screen.scss */
  header {
    height: 120px;
  }

  /* line 1133, ../sass/screen.scss */
  .feed {
    width: 640px;
  }

  /* line 1137, ../sass/screen.scss */
  .subNav {
    margin: 50px 0 0 0px;
    padding: 0 0 0 0;
  }

  /* line 1142, ../sass/screen.scss */
  .subNav a {
    margin: 0 0 0 33px;
  }

  /* line 1146, ../sass/screen.scss */
  .buttons {
    margin: 17px 60px 0 0;
  }

  /* line 1150, ../sass/screen.scss */
  nav ul {
    margin: 0 0 0 5px;
  }

  /* line 1154, ../sass/screen.scss */
  .postDImg {
    margin: -20% 0 0;
  }

  /* line 1158, ../sass/screen.scss */
  .contentDetail p {
    margin: 10px;
    width: 90%;
  }

  /* line 1163, ../sass/screen.scss */
  .dLikeNum p {
    padding: 0;
    margin: 3px 0 0 0;
    width: 92%;
  }
}
@media (min-width: 481px) and (max-width: 670px) {
  /* line 1173, ../sass/screen.scss */
  .feed {
    width: 320px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  /* line 1182, ../sass/screen.scss */
  .feed {
    width: 320px;
  }

  /* line 1186, ../sass/screen.scss */
  .logo {
    display: none;
  }

  /* line 1190, ../sass/screen.scss */
  .carSelector {
    height: 160px;
    margin: 0 0 20px 0;
    padding: 0 0 20px 20px;
    background-color: black;
  }

  /* line 1197, ../sass/screen.scss */
  .carSelector input {
    border: solid 1px #1193ff;
    background-color: white;
    color: black;
    width: 260px;
  }

  /* line 1204, ../sass/screen.scss */
  .feed {
    padding: 0 0 0 10px;
  }

  /* line 1208, ../sass/screen.scss */
  .registerBox {
    width: 300px;
    margin: 20px auto;
  }

  /* line 1213, ../sass/screen.scss */
  .registerBox input {
    width: 270px;
  }

  /* line 1217, ../sass/screen.scss */
  .registerBox input.submit {
    margin: 20px 0 0;
    width: 285px;
  }

  /* line 1222, ../sass/screen.scss */
  .registerBox .vLine, .registerBox .features {
    display: none;
  }

  /* line 1226, ../sass/screen.scss */
  .postDetail {
    width: 300px;
  }

  /* line 1230, ../sass/screen.scss */
  .postDImg {
    margin: 0;
  }

  /* line 1234, ../sass/screen.scss */
  .dLikeNum {
    width: 300px;
  }

  /* line 1238, ../sass/screen.scss */
  .dLikeNum p {
    width: 270px;
  }

  /* line 1242, ../sass/screen.scss */
  .postDImg {
    height: 225px;
    width: 300px;
  }
}
