/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* @import "compass/reset"; */
@import "compass/css3";
@import "colors";

html, body{
	margin: 0;
	padding: 0;
}

body{
	background-image: url("../img/pattern.png");
	background-size: 300px;
	font-family: 'Open Sans', sans-serif;
}

.container{
	clear: both;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans Condensed', sans-serif;
	color: $dWhite;
}

button{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

p,li{
	font-size: 14px;
	color: $dWhite;
}

h2{
	font-size: 21px;
	margin: 10px 0 0 10px;
}

h3{
	font-size: 14px;
}

.logo{
	display: block;
	background-repeat: no-repeat;
	width: 185px;
	margin: 26px 0 0 50px;
	float: left;
	
}

header{
	background-color: $black;
	height: 75px;
	width: 100%;
	clear: both;

	.row{
		margin: 0 auto;
	}
}

nav, .subNav{
	list-style: none;
}

nav{
	margin: 0 0 0 50px;
	clear: right;
}

.subNav{
	height: 50px;
	width: 100%;
	margin: 0 auto 15px;
	background-color: rgba(26,26,26,.7);
	clear: both;
}

a{
	text-decoration: none;
	font-size: 14px;
	color: $dWhite;
}

a, button, input.submit{
	cursor: pointer;
}

nav a, .subNav a{
	float: left;
}

nav a{
	margin: 27px 0 0 50px;
}

.subNav a{
	margin: 15px 20px 0 30px;
}

a:hover{
	color: $blue;
}

.button{
	background-color: $white;
	color: $black;
	border: solid 1px $gray;
	width: 100px;
	height: 40px;
}

.buttons, .loggedIn{
	margin: 17px 50px 0 0;
	float: right;
}

.button:hover{
	color: $blue;
}

.button:active, .button:active{
	color: $white;
	background-color: $blue;
	border: solid 1px $blue;
}

.registerBtn{
  border: solid 1px $blue;
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px 0 0;
  width: 100px;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
  margin: 0 -4px 0 0;
  display: inline-block;
}

.loginBtn, .postBtn{
  border: solid 1px $gray;
  color: $white;
  background-color: $black;
  text-align: center;
  padding: 10px 0 0;
  width: 100px;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
}

.userBtns{
  border: solid 1px $white;
  color: $black;
  background-color: $white;
  text-align: center;
  padding: 10px 0 0;
  width: 100px;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
}

.userBtns:active{
	border: solid 1px $blue;
	background-color: $blue;
	color: $white;
}

.feed{
	position: inherit;
	padding: 0 0 0 30px;
	width: 960px;
	margin: 0 auto;
	clear: both;
}

.post{
	width: 300px;
	height: 392px;
	background-color: $lBlack;
	float: left;
	margin: 0 15px 15px 0;
	/*cursor: pointer;*/
}

.post:last-child{
	margin: 0 15px 100px 0;
}

.content{
	height: 223px;
	border: solid 1px $lBlack;
	margin: 0 0 0;
	padding: 0 0 0;

	p{
		margin: 15px 0 0 10px;
		width: 280px;
		height: 95px;
	}

	.timestamp{
		color: #aaaaaa;
		font-size: 10px;
		margin: 0 0 0 10px;
		height: 10px;
	}
}

.postImgMask{
	overflow: hidden;
	width: 300px;
	height: 225px;
	height: 168px;

	.articleImg{
		width: 300px;
	}
}

.postImg{
	height: 225px;
}

.postUserInfo{
	position: relative;
	bottom: -5px;
	clear: both;
}

.postAvatarMask{
	overflow: hidden;
	width: 30px;
	height: 30px;
	margin: 19px 0 0 9px; 
	float: left;
	border: solid 1px $lBlack;
}

.postAvatar{
	height: 30px;
}

.postCar, .postUser{
	float: left;
}

.postCar{
	margin: 5px 0 0 10px;
}

.postUser{
	margin: 25px 0 0 10px;
}

.post:hover .content{
	border-top: solid 1px $blue;
	border-bottom: solid 1px $blue;
}

.likeNum{
	display: block;
	position: absolute;
	margin: -31px 0 0 -1px;
	width: 300px;
	height: 30px;
	text-align: right;
	background-color: rgba(0,0,0,.7);
	clear: both;

	p{
		width: 50px;
		height: 25px;
		padding: 3px 0 0 0;
		margin: 0;
		font-size: 18px;
		float: right;
	}

	img{
		float: right;
		width: 20px;
		margin: 5px;
	}
}

p{
	color: $dWhite;
}

a:hover{
	color: $blue;
}

footer{
	position: fixed;
	background-color: #000000;
	height: 50px;
	width: 100%;
	bottom: 0;
	clear: both;

	.copyright{
		float: left;
		margin: 0 0 0 10px;
	}

	.footerLinks{
		position: relative;
		top: 0px;

		p{
			width: 100%;
			text-align: center;
		}
	}
}

.carSelector{
	height: 50px;
	margin: 0 auto 20px;
	padding: 0 0 20px 5px;
	background-color: $black;

	.carInputs{
		margin: 0 auto;
		width: 990px;
	}

	input{
		border: solid 1px #1193ff;
		background-color: $white;
		color: $black;
		font-size: 14px;
		margin: 25px 0 0 25px;
	}
}

.active{
	color: $blue;
}

.postCar:hover{
	color: $blue;
}

.postAvatarMask:hover{
	border: solid 1px $blue;
}

/*_Login Page____________________________________________________*/

.loginBox{
	width: 300px;
	text-align: center;
	height: 170px;
	background-color: $lBlack;
	margin: 70px auto 376px;
}

label{
	color: $dWhite;
}

input{
	margin: 25px 0 0 0;
	height: 20px;
	background-color: rgb(26,26,26);
	color: $white;
	border: none;
	border-bottom: solid 2px $blue;
	font-size: 14px;
}

input.submit{
	background-color: $black;
	border: solid 1px $blue;
	color: $white;
	width: 200px;
	height: 30px;
	cursor: pointer;
}

input.submit:hover{
	color: $blue;
}

input.submit:active{
	background-color: $blue;
	color: $white;
}

/*_Register Page____________________________________________________*/

.registerBox{
	width: 600px;
	text-align: left;
	height: 300px;
	background-color: $lBlack;
	margin: 70px auto 205px;
	padding: 20px;
	clear: both;

	form{
		width: 290px;
		float: left;
	}

	p{
		margin: 0;
	}

	input{
		margin: 2px 0 15px;
		width: 260px;
	}

	input.submit{
		margin: 20px 25px 0 0;
		width: 100px;
		float: right;
	}

	.vLine{
		width: 1px;
		height: 290px;
		background-color: $blue;
		float: left;
	}

	.features{
		width: 250px;
		float: left;

		li{
			margin: 10px 0 0;
		}
	}
}

.profileCreateBox{

	height: 500px;

	input.file{
		border: none;
		color: $dWhite;
	}

	textarea{
		border: none;
		border-bottom: solid 2px $blue;
		background-color: rgb(26,26,26);
		color: $white;
		margin: 2px 0 15px;
		resize: none;
		font-size: 14px;
	}

	.vLine{
		height: 390px;
	}

	.skip{
		margin: 20px 0 0;
		border: solid 1px $gray;
		background-color: $black;
		color: $dWhite;
		width: 100px;
		height: 25px;
		float: left;
		cursor: pointer;
		text-align: center;
		padding: 3px 0 0;
	}

	.skip:hover{
		color: $blue;
	}

	.skip:active{
		border: solid 1px $blue;
		color: $white;
		background-color: $blue;
	}
}

/*_Add Post Page____________________________________________________*/

.postBox{
	width: 90%;
	text-align: left;
	height: 680px;
	background-color: $lBlack;
	margin: 30px auto 80px;
	padding: 20px;
	clear: both;

	form{
		width: 585px;
		float: left;
	}

	p{
		margin: 0;
	}

	textarea{
		border: none;
		border-bottom: solid 2px $blue;
		background-color: rgb(26,26,26);
		color: $white;
		margin: 2px 0 15px;
		resize: none;
		font-size: 14px;
	}

	input{
		margin: 2px 0 15px;
		width: 260px;
	}

	input.submit{
		margin: 20px 0 0 480px;
		width: 100px;
	}

	input.file{
		border: none;
		color: $dWhite;
	}

	.addedCarForm{

		padding: 5px 0 0;

		.selectCar{
			margin: 2px 0 15px;
			width: 265px;
			height: 26px;
			border: none;
			border-bottom: solid 2px $blue;
			background-color: rgb(26,26,26);
			color: $white;
		}

		.addCarBtn{
			margin: 0 0 0 10px;
			width: 150px;
			height: 25px;
			color: $dWhite;
			border: solid 1px $dWhite;
			background-color: $blue;
		}

		.addCarBtn:hover{
			color: $blue;
			border: solid 1px $blue;
			background-color: $dWhite;
		}

	}

	.addCarForm{
		display: none;
		border-top: solid 1px $gray;
		border-bottom: solid 1px $gray;
		padding: 5px 0 0;
		margin: 0 0 10px;

		.hideCarFormBtn{
			margin: 0 0 0 10px;
			width: 150px;
			height: 25px;
			color: $dWhite;
			border: solid 1px $dWhite;
			background-color: $blue;
		}

		.hideCarFormBtn:hover{
			color: $blue;
			border: solid 1px $blue;
			background-color: $dWhite;
		}
	}
}

/*_Profile Page____________________________________________________*/

.poster{
	width: 960px;
	height: 268px;
	overflow: hidden;
	margin: 0 auto;

	img{
		width: 960px;
		margin: 0;
	}
}

// .userId, .carId{
// 	width: 960px;
// 	margin: 0 auto 15px;
// 	background-color: $lBlack;
// 	clear: both;


// 	.bio{
// 		float: left;
// 		clear: right;
// 		height: 64px;

// 		p{
// 			margin: 0;
// 			padding: 10px 0 0 10px;
// 			width: 700px;
// 			float: left;
// 		}

// 		img{
// 			float: right;
// 			margin: 20px 25px 10px 0;
// 			width: 20px;
// 			height: 20px;
// 			cursor: pointer;
// 		}
// 	} 

// 	.top{
// 		height: 125px;
// 		clear: both;

// 		.idAvatarMask{
// 			width: 125px;
// 			height: 125px;
// 			overflow: hidden;
// 			float: left;

// 			.idAvatar{
// 				height: 125px;
// 			}
// 		}

// 		.mainInfo{
// 			height: 50px;
// 			margin: -5px 0 15px;
// 			clear: right;

// 			.left{
// 				width: 350px;
// 				padding: 0 0 0 15px;

// 				.names img{
// 					width: 20px;
// 					height: 20px;
// 					margin: 22px 0 0 25px;
// 				}

// 				.userSite{
// 					float: left;
// 					clear: both;
// 					font-size: 12px;
// 					color: $gray;
// 					margin: 0 0 0 10px;
// 				}

// 				.userSite:hover{
// 					color: $blue;
// 				}
// 			}

// 			.right{
// 				float: right;
// 				width: 350px;
// 			}

// 			h2{
// 				margin: 18px 0 0 10px;
// 			}

// 			.followBtn{
// 				margin: 15px 0 0 20px;
// 				width: 100px;
// 				height: 40px;
// 				background-color: $blue;
// 				color: $white;
// 				border: solid 1px $blue;
// 			}

// 			.following{
// 				background-color: $black;
// 				color: $white;
// 				border: solid 1px $gray;
// 			}

// 			.followBtn:hover{
// 				color: $white;
// 				border: solid 1px $white;
// 			}

// 			.following:hover{
// 				color: $blue;
// 				border: solid 1px $gray;
// 			}
// 		}

// 		.hLine{
// 			height: 1px;
// 			background-color: $blue;
// 			float: left;
// 		}
// 	}
// }

.userId, .carId{
	width: 960px;
	margin: 0 auto 15px;
	background-color: $lBlack;
	clear: both;

	.bio{
		float: left;
		clear: right;
		height: 64px;
		width: 95%;

		p{
			margin: 0;
			padding: 10px 0 0 10px;
			width: 100%;
			float: left;
		}

		img{
			float: right;
			margin: 20px 25px 10px 0;
			width: 20px;
			height: 20px;
			cursor: pointer;
		}
	} 

	.top{
		height: 125px;
		clear: both;
		h2, p{
			font-size: 14px;
		}

		.idAvatarMask{
			width: 50px;
			height: 50px;
			overflow: hidden;
			float: left;

			.idAvatar{
				height: 50px;
			}
		}

		.mainInfo{
			width: 87%;
			height: 50px;
			margin: -15px 0 15px;
			clear: right;

			.left{
				width: 300px;
				padding: 5px 0 0 10px;
				
				.names img{
					width: 10px;
					height: 10px;
					margin: 22px 0 0 25px;
				}

				.names h2{
					margin: 18px 0 0;
				}

				.names a{
					margin: 0;
				}

				.userSite{
					float: left;
					clear: both;
					font-size: 12px;
					color: $gray;
					margin: 0 0 0 10px;
				}

				.userSite:hover{
					color: $blue;
				}
			}

			.right{
				float: right;
				width: 180px;
				margin-top: 17px;

				img{
					width: 25px;
					margin: 10px 0 10px 12px;
				}

				h2{
					margin: 14px 0 0 5px;		
				}
			}

			.followBtn{
				margin: 20px 0 0 20px;
				width: 90px;
				height: 25px;
				background-color: $blue;
				color: $white;
				border: solid 1px $blue;
			}

			.following{
				background-color: $black;
				color: $white;
				border: solid 1px $gray;
			}

			.followBtn:hover{
				color: $white;
				border: solid 1px $white;
			}

			.following:hover{
				color: $blue;
				border: solid 1px $gray;
			}
		}

		.hLine{
			height: 1px;
			width: 100%;
			background-color: $blue;
			float: left;
		}
	}
}

.userIdList:first-child, .carIdList:first-child{
	margin: 15px auto;
}

.mainInfo, .hLine, .bio, .extra{
	width: 835px;
}

.hLineCarList{
	width: 960px;
}

.mainInfo, .mainInfo .left, .mainInfo h2, .mainInfo img{
	float: left;
}

.mainInfo img{
	width: 25px;
	margin: 18px 0 10px 35px;
}

.postBtn{
	float: left;
}

.profileAvatar{
	width: 50px;
	height: 50px;
	overflow: hidden;
	display: inline-block;
	margin: -3px 0 0 15px;

	img{
		height: 50px;
	}
}

.loggedIn{
	width: 275px;
	margin: 15px 0 0 68px;
	clear: right;
}

.dropdown{
	width: 100px;
	float: right;
	position: absolute;
	right: 0;
	top: 75px;
	display: none;
}

.dropdownBtn img{
	width: 20px;
	height: 20px;
	float: left;
	margin: 15px 0 0 40px;
}

.dropdownBtn{
	height: 60px;
	width: 100px;
	float: right;
	clear: right;
}

.dropdownBtn:hover .dropdown{
	display: block;
}

.names{
	clear: both;

	.carDropdown{
		width: 350px;
		background-color: $dWhite;
		position: relative;
		margin: 2px 0 0;
		float: left;
		clear: both;
		border-top: solid 1px $blue;
		border-bottom: solid 1px $blue;
		opacity: 0;
		display: none;

		a{
			float: left;
			clear: both;
			padding: 10px 50px 10px 50px;
			margin: 0;
			color: $black;
			display: inline-block;
			width: 250px;
		}

		a:hover{
			color: $blue;
		}

		a:active{
			color: $white;
			background-color: $blue;
		}
	}
}

/*_Post Detail Page____________________________________________________*/

.postDetail{
	width: 80%;
	background-color: $lBlack;
	margin: 15px 10% 80px;
	display: inline-block;

	.postDImgMask{
		overflow: hidden;
		width: 100%;

		.postDImg{
			width: 100%;
			margin: 0;
		}
	}

	.postButtons{
		width: 100%;
		background-color: $black;
		height: 40px;
		margin: 50px 0 0;
		clear: both;

		button, .button{
			float: right;
			width: 100px;
			height: 40px;
			background-color: $black;
			color: $white;
			border: solid 1px $blue;
			cursor: pointer;
			font-size: 14px;
		}

		.button{
			text-align: center;
			padding: 9px 0 0;
			height: 29px;
		}

		.liked{
			color: $dWhite;
			background-color: $blue;
			cursor: pointer;
		}

		.liked:hover{
			color: $dWhite;
		}

		.flagged{
			color: $dWhite;
			background-color: $blue;
			cursor: pointer;
		}

		.flagged:hover{
			color: $dWhite;
		}

		button:hover, .button:hover{
			color: $blue;
		}

		button:active, .button:active{
			background-color: $blue;
			color: $white;
		}

		.deleteBtn:hover{
			color: #ff1111;
		}

		.deleteBtn:active{
			color: #eeeeee;
			background-color: #ff1111;
		}
	}

	.contentDetail{
		padding: 0 0 0;

		p:not(.postCar){
			margin: 0 0 20px 10px;
			width: 600px;
		}

		.dLikeNum{
			display: block;
			position: absolute;
			margin: -45px 0 0 0;
			width: 80%;
			height: 30px;
			text-align: right;
			background-color: rgba(0,0,0,.7);
			clear: both;

			p:not(.postCar){
				width: 90px;
				padding: 3px 0;
				margin: 0;
				font-size: 18px;
				float: right;
			}

			img{
				float: right;
				width: 20px;
				margin: 5px;
			}
		}

		.timestamp{
			color: #aaaaaa;
			font-size: 12px;
			height: 10px;
		}

		.postDUserInfo{
			position: relative;
			bottom: 10px;

			.postUser{
				margin: 25px 0 0 10px;
			}
		}
	}

	.file{
		border: none;
		position: absolute;
		margin-top: -90px;
		padding: 5px;
		background-color: rgba(0,0,0,.6);
		color: $white;
		// top: 200px;
		// left: 14%;
	}
}

/*_Post Edit Page____________________________________________________*/

.postEdit{
	margin-top: 10px;
	input, textarea{
		background-color: rgb(26,26,26);
		border: none;
		border-bottom: solid 1px $blue;
		color: $dWhite;
		margin: 15px 10px 0;
	}

	input{
		font-size: 18px;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: bold;
	}

	textarea{
		font-size: 14px;
		resize: none;
	}
}

.postDetail form, .carDetail form{
	clear: both;

	.postEditButtons input.submit{
		width: 100px;
		height: 40px;
		float: right;
		margin: 0;
	}
}

/*_Car Detail Page____________________________________________________*/

.mainInfo select{
	margin-top: 22px;
	border: solid 1px $blue;
	font-size: 18px;
	background-color: $black;
	color: $dWhite;
}

/*_Car Edit Page____________________________________________________*/

.carDetail{
	padding: 0;
}

.carDetail form{
	width: 100%;
	padding: 0;

	input, textarea{
		margin: 0 0 0 20px;
	}

	p{
		margin: 20px 0 0 20px;
	}
}

.postButtons{
	width: 100%;
	background-color: $black;
	height: 40px;
	margin: 30px 0 0;
	clear: both;

	button, .button{
		float: right;
		width: 100px;
		height: 40px;
		background-color: $black;
		color: $white;
		border: solid 1px $blue;
		cursor: pointer;
		font-size: 14px;
	}

	.button{
		text-align: center;
		padding: 9px 0 0;
		height: 29px;
	}

	.liked{
		color: #eeeeee;
		background-color: #1193ff;
		cursor: pointer;
	}

	.liked:hover{
		color: #eeeeee;
	}

	button:hover, .button:hover{
		color: $blue;
	}

	button:active, .button:active{
		background-color: $blue;
		color: $white;
	}

	.deleteBtn:hover{
		color: #ff1111;
	}

	.deleteBtn:active{
		color: #eeeeee;
		background-color: #ff1111;
	}
}

/*_List Pages____________________________________________________*/

.list{
	margin: 15px auto 0;
}

span{
	display: none;
	visibility: hidden;
}

/*_Flashes_______________________________________________________*/

.flash-error, .flash-success, .flash-info{
	text-align: center;
	color: $dWhite;
	height: 25px;
}

.flash-error{
	background-color: #551111;
}

.flash-success{
	background-color: #115511;
}

.flash-info{
	background-color: $blue;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/*--------------------------------------------------------------------------------*/
/* Media Queries */
/*--------------------------------------------------------------------------------*/

/* Large desktop */
@media (min-width: 991px) and (max-width: 1350px) {

.feed{
	width: 960px;
}

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 990px) {



}

/* 960px width */
@media (max-width: 960px) {

.feed{
	width: 640px;
}

.poster{
	width: 100%;
	height: 200px;
	overflow: hidden;
	margin: 0 auto;

	img{
		width: 100%;
		margin: 0;
	}
}

.userId, .carId{
	width: 100%;

	.bio{
		float: left;
		clear: right;
		height: 64px;
		width: 95%;

		p{
			margin: 0;
			padding: 10px 0 0 10px;
			width: 100%;
			float: left;
		}

		img{
			float: right;
			margin: 20px 25px 10px 0;
			width: 20px;
			height: 20px;
			cursor: pointer;
		}
	} 

	.top{
		clear: both;
		height: 150px;

		h2, p{
			font-size: 12px;
		}

		.idAvatarMask{
			width: 50px;
			height: 50px;
			overflow: hidden;
			float: left;

			.idAvatar{
				height: 50px;
			}
		}

		.mainInfo{
			width: 84%;
			// height: 50px;
			margin: -15px 0 15px;
			clear: right;

			.left{
				width: 65px;
				padding: 5px 0 0 10px;
				// display: block;
				// overflow: hidden;
				.names{
					width: 250px;
				}
				.names img{
					width: 10px;
					height: 10px;
					margin: 22px 0 0 10px;
				}

				.names h2{
					margin: 18px 0 0;
				}

				.names a{
					margin: 0;
					overflow: hidden;
				}

				.userSite{
					float: left;
					clear: both;
					font-size: 12px;
					color: $gray;
					margin: 0 0 0 10px;
				}

				.userSite:hover{
					color: $blue;
				}
			}

			.right{
				float: right;
				width: 180px;
				margin-top: 10px;

				img{
					width: 15px;
					margin: 15px 0 10px 12px;
				}

				h2{
					margin: 14px 0 0 5px;		
				}
			}

			.followBtn{
				position: absolute;
				margin: -20px auto;
				width: 90px;
				height: 25px;
				background-color: $blue;
				color: $white;
				border: solid 1px $blue;
			}

			.following{
				background-color: $black;
				color: $white;
				border: solid 1px $gray;
			}

			.followBtn:hover{
				color: $white;
				border: solid 1px $white;
			}

			.following:hover{
				color: $blue;
				border: solid 1px $gray;
			}
		}

		.hLine{
			height: 1px;
			width: 100%;
			background-color: $blue;
			float: left;
		}
	}
}
}

/* Landscape phone to portrait tablet */
@media (min-width: 671px) and (max-width: 767px) {

header{
	height: 120px;
}

.feed{
	width: 640px;
}

// .subNav{
// 	margin: 50px 0 0 0px;
// 	padding: 0 0 0 0;
// }

// .subNav a{
// 	margin: 0 0 0 33px;
// }

.buttons{
	margin: 17px 60px 0 0;
}

nav ul{
	margin: 0 0 0 5px;
}

.postDImg{
	margin: -20% 0 0;
}

// .contentDetail p{
// 	margin: 10px;
// 	width: 90%;
// }

// .dLikeNum p{
// 	padding: 0;
// 	margin: 3px 0 0 0;
// 	width: 92%;
// }

}

@media (min-width: 481px) and (max-width: 670px) {

.feed{
	width: 320px;
}

.logo{
	display: none;
}

}
 
/* Landscape phones and down */
@media (max-width: 480px) {

header{
	height: 120px;
}

.feed{
	width: 320px;
}

.logo{
	display: none;
}

.carSelector{
	height: 160px;
	margin: 0 0 20px 0;
	padding: 0 0 20px 20px;
	background-color: $black;
}

.carSelector input{
	border: solid 1px $blue;
	background-color: $white;
	color: $black;
	width: 260px;
}

.feed{
	padding: 0 0 0 10px;
}

.registerBox{
	width: 300px;
	margin: 20px auto;
}

.registerBox input{
	width: 270px;
}

.registerBox input.submit{
	margin: 20px 0 0;
	width: 285px;
}

.registerBox .vLine, .registerBox .features{
	display: none;
}

.postDImg{
	margin: 0;
}

// .dLikeNum{
// 	width: 300px;
// }

// .dLikeNum p{
// 	width: 270px;
// }

.postDImg{
	height: 225px;
	width: 300px;
}

}